
.cardBg{
background:rgb(112, 160, 167);
width:100%;
margin:1rem 2rem;
padding:1rem;
text-align: center;
position:relative;
}

.h1{
    font-weight:500;
}

.button{
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
}